.App {
  text-align: center;
}
body{
  background-color:pink;
}
.input-box{
  font-size: 30px;
  padding: 8px;
  padding-right: 180px;
  padding-left: 20px;
  margin-top: 36px;
  margin-right: 20px;
  border: solid black 2px;
}

.searchBtn{
  font-size: 32px;
  /* margin-left: 15.2%;
  padding: 6px;
  padding-right: 19px;
  padding-left: 17px;
  margin-top: -2.9%;
  position: absolute; */
}

.searchBtn{
  margin-top: -54px; 
    /* margin-right: 39%; */
  position: absolute;
  padding: 6px;
  padding-right: 19px;
  padding-left: 17px;
  right: 20%; 
}


.coord, .main, .timezone{
  font-size: 22px;
  margin-top: 36px;
}
/* #clq-btn{
  padding: 7px;
  font-size: 30px;
  border: solid black 2px;
  background-color: greenyellow;
} */


@media only screen and (min-width: 832px) and (max-width:1100px) {
  .searchBtn {
    right: 0;
  }
}


@media only screen and (min-width: 1100px) and (max-width:1389px) {
  .searchBtn {
    right: 0;
  }
}




